{
  "presets": ["next/babel"],
  "plugins": [
    [
      "css-modules-transform", {
        "extensions": [".css", ".scss"],
        "append": [ "postcss-cssnext" ],
        "extractCss": "./renderer/static/css/bundle.css",
      }
    ]
  ]
}